.target
.DS_Store
.checkstyle
.classpath
.project
*/target/*
*/target/**

*/project/*
*/project/**

.idea
.idea/libraries

.Spring-boots-example/.idea

.Spring-boots-example/config-service/project
.Spring-boots-example/config-service/target

.Spring-boots-example/reservation-service/target
.Spring-boots-example/reservation-service/project

.Spring-boots-example/dockerExamples/project
.Spring-boots-example/dockerExamples/target

.Spring-boots-example/minikube-spring-boots-example/project
.Spring-boots-example/minikube-spring-boots-example/target






